@font-face{
    font-family: "titulo";
    src: url("fonte/FredokaOne-Regular.ttf") format('truetype');
}
*{
    margin: 0;
    padding: 0;
}
.selecionado{
    opacity:0;
}
body{
    overflow-x: hidden;
    /*background-color: #8886853d;*/
    background: rgb(53, 54, 58);
    color:#c8cdd2;
}
footer{
    background-color: #282d2dfa ;
    height: 10em;
    padding: 15px;
    width: 105%;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: #cacaca;
}
/*menu*/
header{
    background-color: #282d2dfa;
    background-image: url('imagens/fundo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 15px;
    height: 44em;
    width: 100%;
}

.lado{
    position: relative;
    display: inline-block;
}
nav ul{
   
}
#campodeOpcaonudeOpcao{
    position: fixed;
    top: 2em;
    text-align: center;
    padding: 13px;
    /* margin: 0 auto; */
    left: 29%;
    
}
#campodeOpcao{
    position: fixed;
    z-index: 1;
}
#menu li{
    list-style: none;
    display: inline;
    padding: 10px;
    font-size: 1.5em;
}
span{
    color: brown;
}
#menu h1{
    font-size: 5em;
    padding: 3px;
    text-align: center;
    color: aliceblue;
    position: relative;
    top: 3em;
    font-family: "titulo",cursive;
    
}
#sobre h1, #experiencia h1, #projetos h1{
    text-align: center;
    font-size: 4em;
    position: relative;
    left: -1em;
}
#menu h2{
    font-size: 1.5em;
    padding: 3px;
    text-align: center;
    color: aliceblue;
    position: relative;
    top: 14em;
    font-family: "titulo",cursive;
    
}
#sobre img{
    float: left;
    padding: 15px;
}
/*corpo da aplicação*/
#sobre p{
  padding: 20px;
  text-align: justify;
}
/*Carrosel*/
.TituloPortifolio{
    text-align: center;
    font-size: 4em;
    top: 0.5em;
    position: relative;
    padding: 15px;
}
main img{
    width: 400px;
}
#sobre{
    padding-top: 7em;
    top: 15px;
    position: relative;
    height: 54em;
    margin-left: 55px;
}
#projetos{
    clear: both;
    top: 15px;
    position: relative;
    left: 3em;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 54em;
}
h3{
    padding: 3px;
}
#carrosel{
    position: relative;
    left: -2em;
    top:1em;
}
#carrosel img{
    width: 80%;
    height: 0%;
    position: relative;
}
#proximo{
    position: relative;
    left: 89em;
}
#anterior{
    position: relative;
    left: 1em;
}
/*Quadros com as experiencias*/
.servico{
    float: left;
    padding: 24px;
}
.servico img{
    width: 40px;
    height: 40px;
    position: relative;
    left: 8em;
}
.servico h3{
    font-size: 24px;
    text-align: center;
}
#apresentacao{
   position: relative;
   top: 10em;
   left: 25%;
}
#experiencia{
    padding-top: 7em;
    background-image: url('imagens/fundopreto.png');
    position: relative;
    top: 15px;
    padding-top: 30px;
    height: 44em;
    width: 105%;    
}
#experiencia h1{
    position: relative;
    top: 1em;
}

/*Parte dos contatos(Roda pe)*/
#contatos img{
    padding:5px;
    width: 50px;
    height: 50px;
}
#contatos{
    margin: 0 auto;
    width: 20%;
    padding-top: 3em;
}
#contatos img:hover{
    height: 60px;
    width: 60px;
}
/*parte resposiva*/
